<div class="section dark about1s">
    <div class="indented-container">
	<span>
        <h1>
           <span> Мы ждём: </span>
        </h1>
        <ul>
	
            <li>
	 	<span>	
                Электронщиков/схемотехников
		 </span>
            </li>
            <li>
		 <span>
                Системных программистов
		 </span>
            </li>
            <li>
		 <span>
                Программистов мобильных приложений
		 </span>
            </li>
            <li>
         <span>
                Web-разработчиков
         </span>
            </li>
            <li>
         <span>
                Дизайнеров
         </span>
            </li>
            <li>
         <span>
                Верстальщиков
         </span>
            </li>
            <li>
		 <span>
                Хороших людей
		 </span>
            </li>
        </ul>
    </div>
</div>
