<div class="section dark about2s">
    <div class="indented-container">
	<span>
        <h1>
            Что будет:
        </h1>
        <ul>
            <li>
                Оборудованные места для работы и зона отдыха
            </li>
            <li>
                Железки и материалы, необходимые для реализации проекта
            </li>
            <li>
                Стабильный высокоскоростной интернет
            </li>
            <li>
                Горячее питание и перекус
            </li>
            <li>
                Масса фана
            </li>
        </ul>
	</span>
    </div>
</div>
