<div class="section dark">
    <div class="indented-container">
        <h1>
            О хардатоне
        </h1>
        <p>
            Двухсуточный марафон, где участникам предстоит собрать рабочий прототип устройства на стыке электроники программирования и цифрового производства.
        </p>
        <p>
            Это возможность воплотить свою идею за 48 часов, поработать с профессиональным оборудованием, пообщаться с экспертами, а главное найти единомышленников!
        </p>
    </div>
</div>
