<div id="about5" class="section light text-center">
    <div class="indented-container">
        <h1>
            Когда?
        </h1>
        <p>
            16-18 февраля 2018 года<br />
            18:00
        </p>
        <h1>
            Где?
        </h1>
        <p>
            Пространство коллективной работы "Точка кипения" (г. Ульяновск, ул. Минаева, 11, 6 этаж)
        </p>
        <h1>
            Презентация проектов
        </h1>
        <p>
            презентация проектов будет открыта для любого желающего<br />
            18 февраля в 18:00
        </p>
    </div>
</div>
