<div class="section about2s">
    <div class="indented-container">
	<span>
        <h1>
            Что будет:
        </h1>
        <ul>
            <li>
                Возможность поэкспериментировать с оборудованием
            </li>
            <li>
                Реализовать самую бредовую (а может и наоборот) идею
            </li>
            <li>
                Показать всем, что получилось, поделиться знаниями и приобрести новые
            </li>
            <li>
                Пообщаться с единомышленниками
            </li>
            <li>
                Напиться кофе
            </li>
        </ul>
	</span>
    </div>
</div>
