<div class="section dark about2s">
    <div class="indented-container">
	<span>
        <h1>
            Что будет:
        </h1>
        <ul>
            <li>
                Эксперименты с оборудованием
            </li>
            <li>
                Реализация самых бредовых (легендарных) идей
            </li>
            <li>
                Общение с единомышленниками
            </li>
            <li>
                Возможность показать себя и свою идею
            </li>
            <li>
                Бесконечный кофе
            </li>
        </ul>
	</span>
    </div>
</div>
