<div class="section dark contacts">
    <div class="indented-container">
        <h2>
            Ждем тебя на Хардатоне! 
        </h2>
        <p>&nbsp;</p>
        <a href="{{ "/register" | prepend: site.baseurl }}" type="button" class="btn btn-warning btn-lg regbutton">
            Стать участником
        </a>
        <ul class="list-inline banner-social-buttons">
            {% for network in site.social %}
            <li>
                <a href="{{ network.url }}" class="btn btn-info btn-lg">
                    <i class="fa fa-{{ network.title }} fa-fw"></i>
                    <span class="network-name">
                        {{ network.title }}
                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>
        <div class="subcontacts">
            <div class="subcontacts1">
                <b>Контакты:</b><br />
                <a href="mailto:info@hardathon.ru">info@hardathon.ru</a><br />
                <a href="mailto:vasily.zhuravsky@gmail.com">vasily.zhuravsky@gmail.com</a>
            </div>
            <div class="subcontacts2">
                <b>Партнерам:</b><br />
                +79050351194<br />
                <a href="mailto:info@Svtlniva@gmail.com">Svtlniva@gmail.com</a>
            </div>
        </div>
    </div>
</div>
