	<div class="freebirdFormviewerViewCenteredContent">
		<form action="https://docs.google.com/forms/d/e/1FAIpQLSdV5RDzyJ8jZSmmToDXqb-fBNfcJh9PAsyKlZL63ndiY1EvMg/formResponse?embedded=true" id="mG61Hd" method="post" name="mG61Hd" target="_self">
			<div class="freebirdFormviewerViewFormCard">
				<div class="freebirdFormviewerViewAccentBanner freebirdAccentBackground"></div>
				<div class="freebirdFormviewerViewFormContent">
					<div class="freebirdFormviewerViewNoPadding">
						<div class="freebirdFormviewerViewHeaderHeader">
							<div class="freebirdFormviewerViewHeaderTitleRow">
								<div aria-level="1" class="freebirdFormviewerViewHeaderTitle freebirdCustomFont" dir="auto" role="heading">
									Регистрация
								</div>
							</div>
							<div class="freebirdFormviewerViewHeaderDescription" dir="auto">
								Рады, что ты решил зарегистрироваться на хакатон!<br>
								Пожалуйста, отнесись к заполнению формы внимательнее, ответ на каждый вопрос очень важен. Если что-то пойдет не так, обращайся за помощью в наши группы в социальных сетях. Удачи!
							</div>
							<div class="freebirdCommonViewSecurequizSecureQuizBannerContainer"></div>
						</div>
					</div>
					<div class="freebirdFormviewerViewItemList" role="list">
						<div class="freebirdFormviewerViewItemsItemItem" data-item-id="468765906" data-other-hidden="MfYA1e" data-other-input="qSV85" role="listitem">
							<div class="freebirdFormviewerViewItemsItemItemHeader">
								<div class="freebirdFormviewerViewItemsItemItemTitleContainer">
									<div aria-describedby="i.desc.468765906" aria-level="2" class="freebirdFormviewerViewItemsItemItemTitle freebirdCustomFont" dir="auto" id="i1" role="heading"></div>
									<div class="freebirdFormviewerViewItemsItemItemHelpText" dir="auto" id="i.desc.468765906"></div>
								</div>
							</div><input name="entry.184199733_sentinel" type="hidden">
							<div aria-describedby="i.desc.468765906 i.err.468765906 i.req.468765906" aria-labelledby="i1" class="" role="group">
								<div class="" data-value="Нет команды">
									<div class="freebirdFormviewerViewItemsCheckboxChoice">
										<label class="docssharedWizToggleLabeledContainer freebirdFormviewerViewItemsCheckboxContainer"></label>
										<div class="exportLabelWrapper">
											<label class="docssharedWizToggleLabeledContainer freebirdFormviewerViewItemsCheckboxContainer"></label>
											<div aria-checked="false" aria-describedby=" i5" aria-label="Нет команды" class="quantumWizTogglePapercheckboxEl docssharedWizToggleLabeledControl freebirdThemedCheckbox freebirdThemedCheckboxDarkerDisabled freebirdFormviewerViewItemsCheckboxControl" role="checkbox" tabindex="0">
												<label class="docssharedWizToggleLabeledContainer freebirdFormviewerViewItemsCheckboxContainer"></label>
												<div class="quantumWizTogglePapercheckboxInk exportInk">
													<label class="docssharedWizToggleLabeledContainer freebirdFormviewerViewItemsCheckboxContainer"></label>
												</div>
												<div class="quantumWizTogglePapercheckboxInnerBox exportInnerBox">
													<label class="docssharedWizToggleLabeledContainer freebirdFormviewerViewItemsCheckboxContainer"></label>
												</div>
												<div class="quantumWizTogglePapercheckboxCheckMarkContainer">
													<label class="docssharedWizToggleLabeledContainer freebirdFormviewerViewItemsCheckboxContainer"></label>
													<div class="quantumWizTogglePapercheckboxCheckMark">
														<label class="docssharedWizToggleLabeledContainer freebirdFormviewerViewItemsCheckboxContainer"></label>
														<div class="quantumWizTogglePapercheckboxShort exportCheck">
															<label class="docssharedWizToggleLabeledContainer freebirdFormviewerViewItemsCheckboxContainer"></label>
														</div>
														<div class="quantumWizTogglePapercheckboxLong exportCheck">
															<label class="docssharedWizToggleLabeledContainer freebirdFormviewerViewItemsCheckboxContainer"></label>
														</div>
													</div>
												</div>
											</div>
											<div class="docssharedWizToggleLabeledContent">
												<label class="docssharedWizToggleLabeledContainer freebirdFormviewerViewItemsCheckboxContainer"></label>
												<div class="docssharedWizToggleLabeledPrimaryText">
													<label class="docssharedWizToggleLabeledContainer freebirdFormviewerViewItemsCheckboxContainer"><span class="docssharedWizToggleLabeledLabelText exportLabel freebirdFormviewerViewItemsCheckboxLabel" dir="auto">Нет команды</span></label>
												</div>
											</div>
										</div>
									</div><input disabled name="entry.184199733" type="hidden">
								</div>
							</div>
							<div class="screenreaderOnly" id="i.req.468765906"></div>
							<div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox"></div>
							<div class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.468765906" role="alert"></div>
						</div>
						<div class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem" data-item-id="479655651" role="listitem">
							<div class="freebirdFormviewerViewItemsItemItemHeader">
								<div class="freebirdFormviewerViewItemsItemItemTitleContainer">
									<div aria-describedby="i.desc.479655651" aria-level="2" class="freebirdFormviewerViewItemsItemItemTitle freebirdCustomFont" dir="auto" role="heading">
										Название команды
									</div>
									<div class="freebirdFormviewerViewItemsItemItemHelpText" dir="auto" id="i.desc.479655651"></div>
								</div>
							</div>
							<div class="freebirdFormviewerViewItemsTextItemWrapper">
								<div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput">
									<div class="quantumWizTextinputPaperinputMainContent exportContent">
										<div class="quantumWizTextinputPaperinputContentArea exportContentArea">
											<div class="quantumWizTextinputPaperinputInputArea">
												<input aria-describedby="i.desc.479655651 i.err.479655651" aria-label="Название команды" autocomplete="off" class="quantumWizTextinputPaperinputInput exportInput" data-initial-dir="auto" data-initial-value="" dir="auto" name="entry.294623791" tabindex="0" type="text" value="">
												<div class="quantumWizTextinputPaperinputPlaceholder exportLabel">
													Мой ответ
												</div>
											</div>
											<div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
											<div class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div>
										</div>
									</div>
									<div class="quantumWizTextinputPaperinputCounterErrorHolder">
										<div class="quantumWizTextinputPaperinputHint exportHint"></div>
									</div>
								</div>
							</div>
							<div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox"></div>
							<div class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.479655651" role="alert"></div>
						</div>
						<div class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem" data-item-id="13635428" role="listitem">
							<div class="freebirdFormviewerViewItemsItemItemHeader">
								<div class="freebirdFormviewerViewItemsItemItemTitleContainer">
									<div aria-describedby="i.desc.13635428" aria-level="2" class="freebirdFormviewerViewItemsItemItemTitle freebirdCustomFont" dir="auto" role="heading">
										Идея проекта
									</div>
									<div class="freebirdFormviewerViewItemsItemItemHelpText" dir="auto" id="i.desc.13635428"></div>
								</div>
							</div>
							<div class="freebirdFormviewerViewItemsTextItemWrapper">
								<div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput">
									<div class="quantumWizTextinputPaperinputMainContent exportContent">
										<div class="quantumWizTextinputPaperinputContentArea exportContentArea">
											<div class="quantumWizTextinputPaperinputInputArea">
												<input aria-describedby="i.desc.13635428 i.err.13635428" aria-label="Идея проекта" autocomplete="off" class="quantumWizTextinputPaperinputInput exportInput" data-initial-dir="auto" data-initial-value="" dir="auto" name="entry.1952645650" tabindex="0" type="text" value="">
												<div class="quantumWizTextinputPaperinputPlaceholder exportLabel">
													Мой ответ
												</div>
											</div>
											<div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
											<div class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div>
										</div>
									</div>
									<div class="quantumWizTextinputPaperinputCounterErrorHolder">
										<div class="quantumWizTextinputPaperinputHint exportHint"></div>
									</div>
								</div>
							</div>
							<div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox"></div>
							<div class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.13635428" role="alert"></div>
						</div>
						<div class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem" data-item-id="506521081" role="listitem">
							<div class="freebirdFormviewerViewItemsItemItemHeader">
								<div class="freebirdFormviewerViewItemsItemItemTitleContainer">
									<div aria-describedby="i.desc.506521081" aria-level="2" class="freebirdFormviewerViewItemsItemItemTitle freebirdCustomFont" dir="auto" role="heading">
										Опиши кратко, с какими устройствами и технологиями ты хотел бы поработать.
									</div>
									<div class="freebirdFormviewerViewItemsItemItemHelpText" dir="auto" id="i.desc.506521081"></div>
								</div>
							</div>
							<div class="quantumWizTextinputPapertextareaEl modeLight freebirdFormviewerViewItemsTextLongText freebirdThemedInput">
								<div class="quantumWizTextinputPapertextareaMainContent exportContent">
									<div class="quantumWizTextinputPapertextareaPlaceholder exportLabel">
										Мой ответ
									</div>
									<div class="quantumWizTextinputPapertextareaContentArea exportContentArea">
										<textarea aria-label="Опиши кратко, с какими устройствами и технологиями ты хотел бы поработать." class="quantumWizTextinputPapertextareaInput exportTextarea" data-initial-dir="auto" data-initial-value="" data-rows="1" dir="auto" name="entry.1301586782" style="height: 25px;" tabindex="0"></textarea>
									</div>
									<div class="quantumWizTextinputPapertextareaUnderline exportUnderline"></div>
									<div class="quantumWizTextinputPapertextareaFocusUnderline exportFocusUnderline"></div>
								</div>
								<div class="quantumWizTextinputPapertextareaCounterErrorHolder">
									<div class="quantumWizTextinputPapertextareaHint exportHint"></div>
								</div>
							</div>
							<div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox"></div>
							<div class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.506521081" role="alert"></div>
						</div>
						<div class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem" data-item-id="653256186" role="listitem">
							<div class="freebirdFormviewerViewItemsItemItemHeader">
								<div class="freebirdFormviewerViewItemsItemItemTitleContainer">
									<div aria-describedby="i.desc.653256186" aria-level="2" class="freebirdFormviewerViewItemsItemItemTitle freebirdCustomFont" dir="auto" role="heading">
										Какие детали и инструменты тебе могут понадобиться?
									</div>
									<div class="freebirdFormviewerViewItemsItemItemHelpText" dir="auto" id="i.desc.653256186"></div>
								</div>
							</div>
							<div class="quantumWizTextinputPapertextareaEl modeLight freebirdFormviewerViewItemsTextLongText freebirdThemedInput">
								<div class="quantumWizTextinputPapertextareaMainContent exportContent">
									<div class="quantumWizTextinputPapertextareaPlaceholder exportLabel">
										Мой ответ
									</div>
									<div class="quantumWizTextinputPapertextareaContentArea exportContentArea">
										<textarea aria-label="Какие детали и инструменты тебе могут понадобиться?" class="quantumWizTextinputPapertextareaInput exportTextarea" data-initial-dir="auto" data-initial-value="" data-rows="1" dir="auto" name="entry.1868146970" style="height: 25px;" tabindex="0"></textarea>
									</div>
									<div class="quantumWizTextinputPapertextareaUnderline exportUnderline"></div>
									<div class="quantumWizTextinputPapertextareaFocusUnderline exportFocusUnderline"></div>
								</div>
								<div class="quantumWizTextinputPapertextareaCounterErrorHolder">
									<div class="quantumWizTextinputPapertextareaHint exportHint"></div>
								</div>
							</div>
							<div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox"></div>
							<div class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.653256186" role="alert"></div>
						</div>
					</div>
					<div class="freebirdFormviewerViewNavigationNavControls" data-is-receipt-checked="false" data-should-execute-invisible-captcha-challenge="false" data-shuffle-seed="-8516461910439869786">
						<div class="freebirdFormviewerViewNavigationButtonsAndProgress">
							<div class="freebirdFormviewerViewNavigationButtons">
								<div aria-disabled="false" class="quantumWizButtonPaperbuttonEl quantumWizButtonPaperbuttonFlat quantumWizButtonPaperbutton2El2 freebirdFormviewerViewNavigationNoSubmitButton" role="button" tabindex="0">
									<div class="quantumWizButtonPaperbuttonRipple exportInk"></div>
									<div class="quantumWizButtonPaperbuttonFocusOverlay exportOverlay"></div><span class="quantumWizButtonPaperbuttonLabel exportLabel">Далее</span>
								</div>
							</div>
						</div>
						<div class="freebirdFormviewerViewNavigationPasswordWarning">
							Никогда не используйте формы Google для передачи паролей.
						</div>
					</div><input name="fvv" type="hidden" value="1"><input name="draftResponse" type="hidden" value="[null,null,&quot;-8516461910439869786&quot;] "><input name="pageHistory" type="hidden" value="0"><input name="fbzx" type="hidden" value="-8516461910439869786">
				</div>
			</div>
		</form>
		<div>
			<div class="freebirdFormviewerViewFooterDisclaimer freebirdFormviewerViewFooterNoTextDecoration freebirdDisclaimerColor">
				Компания Google не имеет никакого отношения к этому контенту. <a href="https://docs.google.com/forms/d/e/1FAIpQLSdV5RDzyJ8jZSmmToDXqb-fBNfcJh9PAsyKlZL63ndiY1EvMg/reportabuse?source=https://docs.google.com/forms/d/e/1FAIpQLSdV5RDzyJ8jZSmmToDXqb-fBNfcJh9PAsyKlZL63ndiY1EvMg/viewform?embedded%3Dtrue">Сообщение о нарушении</a> - <a href="http://www.google.com/accounts/TOS">Условия использования</a> - <a href="http://www.google.com/google-d-s/terms.html">Дополнительные условия</a>
			</div>
			<div class="freebirdFormviewerViewFooterImageContainer freebirdFormviewerViewFooterPageBreak">
				<a dir="auto" href="//www.google.com/forms/about/?utm_source=product&amp;utm_medium=forms_logo&amp;utm_campaign=forms"><img alt="Google" height="24px" src="https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_dark_clr_74x24px.svg" width="74px">&nbsp;<span class="freebirdCommonViewProductnameLockupText">Формы</span></a>
			</div>
		</div>
	</div>