<div class="section intro">
    <div class="header-video">
        <img src="/img/2017/4.jpg" class="header-video--media" data-video-src="134988609" data-teaser-source="/video/masthead-teaser" data-provider="mp4" data-video-width="500" data-video-height="281">
        <div class="video-container"></div>
    </div>

    <img src="/img/hardathon.png" class="logo">
    <p class="top-buffer-40px">
        &nbsp;
    </p>
    <a href="{{ "/register" | prepend: site.baseurl }}" type="button" class="btn btn-warning btn-lg top-buffer-40px">
        Зарегистрироваться!
    </a>
</div>
